@font-face {
  font-family: "Hyundai-light";
  src: url("../src/fonts/hyundaisanshead-light.ttf") format("woff");
}

@font-face {
  font-family: "Hyundai-regular";
  src: url("../src/fonts/hyundaisanshead-regular.ttf") format("woff");
}

@font-face {
  font-family: "Hyundai-medium";
  src: url("../src/fonts/hyundaisanshead-medium.ttf") format("woff");
}

@font-face {
  font-family: "Hyundai-bold";
  src: url("../src/fonts/hyundaisanshead-bold.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../src/fonts/Montserrat-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("../src/fonts/Montserrat-Medium.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../src/fonts/Montserrat-SemiBold.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/fonts/Montserrat-Bold.ttf") format("woff");
}

body {
  overflow: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: grid;
}

.main {
  grid-template-columns: 66% 34%;
  height: 100vh;
}

.slider {
  max-width: 100%;
  overflow: hidden;
}

.main-carousel {
  height: 100%;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  .carousel-cell:nth-child(2) {
    object-position: 70% 0;
  }
}

.flickity-viewport {
  max-height: 100%;
}

video {
  min-width: 100%; 
  min-height: 100%;
  background-size: cover;
  width: auto; 
  height: auto;
  z-index: -100;
}

.flickity-page-dots {
  bottom: 25px;
  .dot {
    background-color: white;
  }
}

.title {
  z-index: 4;
  color: white;
  position: fixed;
  top: 30px;
  font-family: "Hyundai-regular";
  font-size: 40px;
  left: 30px;
}

.title__black {
  color: black;
  z-index: 4;
  position: fixed;
  top: 30px;
  font-family: "Hyundai-regular";
  font-size: 40px;
  left: 30px;
}

.aftertitle {
  z-index: 4;
  color: white;
  position: fixed;
  top: 75px;
  font-family: "Hyundai-regular";
  font-size: 24px;
  left: 30px;
}

.aftertitle__black {
  z-index: 4;
  color: black;
  position: fixed;
  top: 75px;
  font-family: "Hyundai-regular";
  font-size: 24px;
  left: 30px;
}

.carousel-cell:nth-child(2).is-selected {
  .title {
    color: black;
  }
}

.text__slider {
  z-index: 4;
  color: white;
  position: absolute;
  bottom: 30px;
  font-family: "Hyundai-regular";
  font-size: 22px;
  left: 30px;
}

.offer {
  position: fixed;
  z-index: 4;
  width: 200px;
  left: 0;
  top: 65vh;
}

.btn {
  position: absolute;
  z-index: 4;
  bottom: 0;
  button {
    height: 15px;
    font-size: 10px;
    border: none;
    background-color: black;
    color: lightgray;
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.offer__mobile {
  display: none;
  max-width: 100%;
  overflow: hidden;
}

.form__img {
  margin-top: 20px;
  width: 35%;
  margin-bottom: 35px;
}

.form__beforetitle {
  line-height: 30px;
  font-family: "Hyundai-regular";
  font-size: 24px;
}

.form__title {
  font-family: "Hyundai-Bold";
  font-size: 28px;
}

.form__transition {
  width: 100%;
  height: 0.5px;
  background-color: black;
  margin-top: 15px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

input {
  margin-top: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-color: lightgray;
  cursor: pointer;
  font-family: "Hyundai-regular";
}

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #002c5f;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.form__aspect {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  label {
    font-family: "Hyundai-regular";
  }
}

.form__radio {
  display: flex;
  margin-top: 10px;
  div {
    margin-left: 110px;
  }
  label {
    font-family: "Hyundai-regular";
  }
}

.form__name, .form__postal{
  display: flex;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  div:nth-child(2) {
    margin-left: 20px;
  }
  label {
    font-family: "Hyundai-regular";
  }
}

select {
  margin-top: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-color: lightgray;
  cursor: pointer;
  font-family: "Hyundai-regular";
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  button {
    background-color: #244770;
    color: white;
    font-size: 14px;
    height: 40px;
    width: 150px;
    border: 1px solid;
    border-color: lightgray;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.warranty {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  .warranty__img {
    width: 20%;
  }
}

.conditions {
  position: absolute;
  display: none;
  background-color: white;
  padding: 20px;
  max-height: 100vh;
  height: 100vh;
  overflow: auto;
}

.validation {
  grid-template-columns: 66vw 34vw;
  height: 100vh;
}

.firspart {
  max-width: 100%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
}

.secondpart {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
    margin-bottom: 100px;
  }
}

.btn__return {
  padding: 20px;
  height: 5vh;
  button {
    width: 100%;
    height: 100%;
  }
}

.conditions__btn {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  button {
    background-image: url("/src/img/cross.svg");
    background-repeat: no-repeat;
    background-color: white;
    margin-bottom: 20px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .conditions {
    font-size: 13px;
    overflow-y: scroll;
    height: 100%;
  }
  .flickity-prev-next-button {
    width: 35px;
    height: 35px;
  }
  .offer {
    width: 15%;
  }
  .form {
    overflow-y: scroll;
  }
  .form__title {
    font-size: 18px;
  }
  .form__beforetitle {
    font-size: 14px;
  }
  .form__img {
    width: 45%;
  }
  .form__postal, .form__name {
    div {
      width: 48%;
    }
    div:nth-child(2) {
      margin-left: 10px;
    }
  }
  .form__radio {
    div {
      margin-left: 40px;
    }
  }
  .aftertitle {
    font-size: 24px;
  }
  .warranty .warranty__img {
    width: 35%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    overflow: hidden;
  }
  .title {
    font-size: 32px;
    top: 25px;
  }
  .conditions {
    overflow-y: scroll;
    font-size: 12px;
    height: 100%;
  }
  .aftertitle {
    font-size: 20px;
    top: 60px;
  }
  .carousel-cell {
    background-position: 50% 25%;
  }
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }
  .text__slider {
    font-size: 15.5px;
  }
  .form {
    overflow-y: scroll;
  }
  .form__postal, .form__name {
    flex-direction: column;
    div {
      flex-direction: column;
      width: 100%;
      }
    div:nth-child(2) {
      margin-left: 0px;
      margin-top: 10px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__radio {
    div {
      margin-left: 30px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__aspect {
    label {
      font-size: 12px;
    }
  }
  .form__title {
    font-size: 14px;
  }
  .form__beforetitle {
    font-size: 12px;
  }
  .form__img {
    width: 45%;
  }
  .offer {
    width: 15%;
  }
  .warranty .warranty__img {
    width: 35%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  body {
    overflow: scroll;
  }
  .validation {
    grid-template-rows: 60% 25%;
    grid-template-columns: 100%;
    .firspart {
      grid-row: 1;
      height: 100%;
      .image {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .secondpart {
      grid-row: 2;
      grid-column: 1;
    }
  }
  .main {
    grid-template-rows: 539px 100px 100vh;
    grid-template-columns: 100%;
  }
  .carousel-cell {
    height: 100%;
  }
  .flickity-prev-next-button {
    width: 25px;
    height: 25px;
  }
  .title {
    position: absolute;
    font-size: 24px;
    top: 20px;
  }
  .aftertitle {
    position: absolute;
    font-size: 18px;
    top: 45px;
  }
  .offer {
    display: none;
  }
  .offer__mobile {
    display: block;
  }
  .form {
    grid-row: 3s;
  }
  .btn {
    bottom: 15px;
    position: relative;
  }
  .form__img {
    margin-top: 40px;
  }
  .text__slider {
    font-size: 14px;
    font-family: "Hyundai-light";
    bottom: 40px;
  }
  .flickity-page-dots {
    bottom: 20px
  }
  .warranty {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 0px 10px;
    max-width: 90%;
    max-height: 3%;
    padding-bottom: 10px;
  } 
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    overflow: scroll;
  }

  .validation {
    grid-template-rows: 60% 25%;
    grid-template-columns: 100%;
    .firspart {
      grid-row: 1;
      height: 100%;
      .image {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .secondpart {
      grid-row: 2;
      grid-column: 1;
    }
  }
  .main {
    grid-template-rows: 355px 100px 100vh;
    grid-template-columns: 100%;
  }
  
  .main-carousel {
    min-height: 100%;
  }

  .flickity-viewport {
    min-height: 355px;
  }
  .flickity-page-dots .dot {
    width: 8px;
    height: 8px;
  }

  .carousel-cell {
    background-position: 50% 25%;
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 50);
  }

  .is-selected {
    height: 100%;
  }
  
  // .flickity-page-dots {
  //   position: relative;
  //   bottom: 25px;
  //   .dot {
  //     background-color: white;
  //   }
  // }
  // .carousel-img {
  //   height: auto;
  //   min-height: 364px;
  //   object-fit: cover;
  // }
  // #carousel-2 {
  //   object-position: 75% 0;
  // }
  // .carousel-arrow {
  //   margin-top: 150px;
  // }
  .title, .aftertitle, .offer {
    position: absolute;
  }
  .btn {
    position: relative;
  }
  .title {
    font-size: 20px;
    letter-spacing: -1px;
    top: 12px;
    left: 3%;
  }
  .aftertitle {
    font-size: 12px;
    top: 32px;
    left: 3%;
  }
  .text__slider{
    font-size: 12px;
    left: 3%;
  }
  .flickity-page-dots {
    bottom: 10px;
  }
  .offer {
    display: none;
  }
  .btn {
    bottom: 15px;
    button {
      font-size: 6px;
      height: 10px;
    }
  }
  .form {
    width: 100%;
  }
  .offer__mobile {
    display: block;
  }
  .form__postal, .form__name {
    flex-direction: column;
    div {
      flex-direction: column;
      width: 100%;
      }
    div:nth-child(2) {
      margin-left: 0px;
      margin-top: 10px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__radio {
    div {
      margin-left: 50px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__aspect {
    label {
      font-size: 12px;
    }
  }
  .form__img {
    width: 40%;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .form__title {
    font-size: 16px;
  }
  .form__beforetitle {
    font-size: 12px;
  }
  .flickity-button {
    display: none;
  }
  .text__slider {
    font-size: 12px;
    font-family: "Hyundai-light";
  }
  .warranty {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 0px 10px;
    max-width: 90%;
    max-height: 3%;
    padding-bottom: 10px;
  }
  .conditions {
    max-height: 120vh;
    padding-bottom: 90px;
    font-size: 12px;
  }
}