@font-face {
  font-family: "Hyundai-light";
  src: url("../src/fonts/hyundaisanshead-light.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("../src/fonts/Montserrat-Regular.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-medium";
  src: url("../src/fonts/Montserrat-Medium.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../src/fonts/Montserrat-SemiBold.ttf") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/fonts/Montserrat-Bold.ttf") format("woff");
}

.main {
  display: grid;
  grid-template-columns: 66% 34%;
  height: 100vh;
}

.slider {
  max-width: 100%;
  overflow: hidden;
}

.main-carousel {
  height: 100%;
}

.carousel-cell {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  .carousel-cell:nth-child(2) {
    object-position: 70% 0;
  }
}

.flickity-viewport {
  max-height: 100%;
}

.flickity-page-dots {
  bottom: 25px;
  .dot {
    background-color: white;
  }
}

.title {
  z-index: 4;
  color: white;
  position: absolute;
  top: 30px;
  font-family: "Montserrat-SemiBold";
  font-size: 40px;
  left: 30px;
  mix-blend-mode: exclusion;
}

.aftertitle {
  z-index: 4;
  color: white;
  position: absolute;
  top: 75px;
  font-family: "Montserrat-regular";
  font-size: 24px;
  left: 30px;
  mix-blend-mode: exclusion;
}

.text__slider {
  z-index: 4;
  color: white;
  position: absolute;
  bottom: 30px;
  font-family: "Montserrat-regular";
  font-size: 24px;
  left: 30px;
}

.offer {
  position: fixed;
  z-index: 4;
  width: 200px;
  left: 0;
  top: 65vh;
}

.btn {
  position: absolute;
  z-index: 4;
  bottom: 0;
  button {
    height: 15px;
    font-size: 10px;
    border: none;
    background-color: black;
    color: lightgray;
    cursor: pointer;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.offer__mobile {
  display: none;
}

.form__img {
  margin-top: 20px;
  width: 35%;
  margin-bottom: 35px;
}

.form__beforetitle {
  line-height: 30px;
  font-family: "Montserrat-medium";
  font-size: 24px;
}

.form__title {
  font-family: "Montserrat-Bold";
  font-size: 28px;
}

.form__transition {
  width: 100%;
  height: 0.5px;
  background-color: black;
  margin-top: 15px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin-top: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-color: lightgray;
  cursor: pointer;
}


.form__aspect {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  label {
    font-family: "Montserrat-SemiBold";
  }
}

.form__radio {
  display: flex;
  margin-top: 10px;
  div {
    margin-left: 110px;
  }
  label {
    font-family: "Montserrat-SemiBold";
  }
}

.form__name, .form__postal{
  display: flex;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  div:nth-child(2) {
    margin-left: 20px;
  }
  label {
    font-family: "Montserrat-SemiBold";
  }
}

select {
  margin-top: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid;
  border-color: lightgray;
  cursor: pointer;
}

.form__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  button {
    background-color: #244770;
    color: white;
    font-size: 14px;
    height: 40px;
    width: 150px;
    border: 1px solid;
    border-color: lightgray;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.warranty {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  .warranty__img {
    width: 20%;
  }
}

.conditions {
  position: absolute;
  display: none;
  background-color: white;
  padding: 20px;
  max-height: 90vh;
}

.validation {
  display: none;
  grid-template-columns: 66vw 34vw;
  height: 100vh;
}

.firspart {
  max-width: 100%;
  overflow: hidden;
}

.image img{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.secondpart {
  grid-column: 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__return {
  padding: 20px;
  height: 5vh;
  button {
    width: 100%;
    height: 100%;
  }
}

.conditions__btn {
  display: flex;
  justify-content: flex-end;
  button {
    background-image: url("/src/img/cross.svg");
    margin-bottom: 20px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .conditions {
    font-size: 13px;
  }
  .form__title {
    font-size: 18px;
  }
  .form__beforetitle {
    font-size: 14px;
  }
  .form__img {
    width: 45%;
  }
  .form__postal, .form__name {
    div {
      width: 48%;
    }
    div:nth-child(2) {
      margin-left: 10px;
    }
  }
  .form__radio {
    div {
      margin-left: 40px;
    }
  }
  .aftertitle {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 32px;
  }
  .carousel-cell {
    background-position: 50% 25%;
  }
  .form__postal, .form__name {
    flex-direction: column;
    div {
      flex-direction: column;
      width: 100%;
      }
    div:nth-child(2) {
      margin-left: 0px;
      margin-top: 10px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__radio {
    div {
      margin-left: 30px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__aspect {
    label {
      font-size: 12px;
    }
  }
  .form__title {
    font-size: 14px;
  }
  .form__beforetitle {
    font-size: 12px;
  }
  .form__img {
    width: 45%;
  }
  .offer {
    width: 20%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px) and (orientation: portrait) {
  body {
    overflow: scroll;
  }
  .main {
    grid-template-rows: 60% 10% 60%;
    grid-template-columns: 100%;
  }
  .carousel-cell {
    height: 100%;
  }
  .title {
    position: absolute;
    font-size: 24px;
  }
  .aftertitle {
    position: absolute;
    font-size: 18px;
    top: 7%
  }
  .main {
    grid-template-rows: 60% 8% 60%;
    grid-template-columns: 100%;
  }
  .offer {
    display: none;
  }
  .offer__mobile {
    display: block;
    width: 100%;
  }
  .form {
    grid-row: 3s;
  }
  // .carousel-arrow {
  //   margin-top: 30vh;
  // }
  // .carousel-img {
  //   height: auto;
  //   object-fit: cover;
  //   min-height: 543px;
  // }
  // #carousel-2 {
  //   object-position: 70% 0;
  // }
  .btn {
    top: 58vh;
  }
  .form__img {
    margin-top: 40px;
  }
  .text__slider {
    font-size: 14px;
    font-family: "Hyundai-light";
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    overflow: scroll;
  }
  .main {
    grid-template-rows: 40% 8% 90%;
    grid-template-columns: 100%;
  }
  
  .main-carousel {
    height: 100%;
  }

  .flickity-viewport {
    height: 355px;
  }

  .carousel-cell {
    height: 100%;
    background-position: 50% 25%;
  }

  .is-selected {
    height: 100%;
  }
  
  // .flickity-page-dots {
  //   position: relative;
  //   bottom: 25px;
  //   .dot {
  //     background-color: white;
  //   }
  // }
  // .carousel-img {
  //   height: auto;
  //   min-height: 364px;
  //   object-fit: cover;
  // }
  // #carousel-2 {
  //   object-position: 75% 0;
  // }
  // .carousel-arrow {
  //   margin-top: 150px;
  // }
  .title, .aftertitle, .offer {
    position: absolute;
  }
  .btn {
    position: relative;
  }
  .title {
    font-size: 20px;
    letter-spacing: -1px;
    top: 3%;
    left: 3%;
  }
  .aftertitle {
    font-size: 12px;
    top: 5.2%;
    left: 3%;
  }
  .text__slider{
    font-size: 12px;
    left: 170px;
    bottom: 0.5%;
  }
  .offer {
    display: none;
  }
  .btn {
    top: -2vh;
    button {
      font-size: 6px;
      height: 10px;
    }
  }
  .form {
    width: 100%;
  }
  .offer__mobile {
    display: block;
    width: 100%;
    bottom: 0;
  }
  .form__postal, .form__name {
    flex-direction: column;
    div {
      flex-direction: column;
      width: 100%;
      }
    div:nth-child(2) {
      margin-left: 0px;
      margin-top: 10px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__radio {
    div {
      margin-left: 50px;
    }
    label {
      font-size: 12px;
    }
  }
  .form__aspect {
    label {
      font-size: 12px;
    }
  }
  .form__img {
    width: 40%;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .form__title {
    font-size: 16px;
  }
  .form__beforetitle {
    font-size: 12px;
  }
  .conditions {
    font-size: 12px;
  }
  .flickity-button {
    display: none;
  }
  .text__slider {
    font-size: 12px;
    font-family: "Hyundai-light";
  }
}